{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash
# settings: {{ include "dot_config/Code/User/settings.json" | sha256sum }}
# keybindings: {{ include "dot_config/Code/User/keybindings.json" | sha256sum }}
VSCODE_DIR="$HOME/Library/Application Support/Code/User"
mkdir -p "$VSCODE_DIR"
cp ~/.config/Code/User/settings.json "$VSCODE_DIR/settings.json"
cp ~/.config/Code/User/keybindings.json "$VSCODE_DIR/keybindings.json"
{{ end -}}
