{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash
# settings: {{ include "dot_config/Code/User/settings.json" | sha256sum }}
# keybindings: {{ include "dot_config/Code/User/keybindings.json" | sha256sum }}
SRC_DIR="$HOME/.config/Code/User"
VSCODE_DIR="$HOME/Library/Application Support/Code/User"
if [ -d "$SRC_DIR" ]; then
  mkdir -p "$VSCODE_DIR"
  rm -f "$VSCODE_DIR/settings.json" "$VSCODE_DIR/keybindings.json"
  cp "$SRC_DIR/settings.json" "$VSCODE_DIR/settings.json"
  cp "$SRC_DIR/keybindings.json" "$VSCODE_DIR/keybindings.json"
fi
{{ end -}}
