{{- $osid := .chezmoi.os -}}
{{- if and (hasKey .chezmoi "osRelease") (hasKey .chezmoi.osRelease "id") -}}
{{-   $osid = .chezmoi.osRelease.id -}}
{{- end -}}

sourceDir = {{ joinPath .chezmoi.homeDir "dotfiles" | quote }}

[data]
  os_id = {{ $osid | quote }}
  is_nixos = {{ eq $osid "nixos" }}
  is_darwin = {{ eq .chezmoi.os "darwin" }}
