[alias]
    # Difftastic aliases
    dlog = -c diff.external=difft log --ext-diff
    dshow = -c diff.external=difft show --ext-diff
    ddiff = -c diff.external=difft diff

[core]
	pager = "delta"

[credential]
	helper = "store"

[delta]
	navigate = true
	side-by-side = true
	syntax-theme = "Dracula"

[diff]
	colorMoved = "default"

[gpg]
	program = "gpg"

[init]
	defaultBranch = "main"

[interactive]
	diffFilter = "delta --color-only"

[pager]
	branch = false

[pull]
	rebase = true

[user]
	email = {{ "ZW5vY2g5NjVAZ21haWwuY29t" | b64dec }}
	name = enochchau

[merge]
	conflictstyle = diff3

[includeIf "gitdir:~/Numeric/"]
	path = ~/Numeric/.gitconfig

[sendemail]
	smtpserver = smtp.gmail.com
	smtpuser = {{ "ZW5vY2g5NjVAZ21haWwuY29t" | b64dec }}
	smtpencryption = tls
	smtpserverport = 587
