local wezterm = require("wezterm")

return {
	term = "wezterm",
	color_scheme = "{{ theme }}",
	window_background_opacity = {{ opacity }},
	font = wezterm.font("{{ font }}"),
	font_size = {{ font_size }},
	enable_tab_bar = false,
	use_fancy_tab_bar = false,
}
