# env:
#   TERM: xterm-256color

window:
  opacity: {{ opacity }}
  dimensions:
    columns: 130
    lines: 40
  padding:
   x: 6
   y: 6
  decorations: full
  option_as_alt: Both

font:
  normal:
    family: {{ font }}
  size: {{ font_size }}

colors:
  primary:
    background: '#1e2127'
    foreground: '#abb2bf'
    bright_foreground: '#e6efff'
  normal:
    black:   '#1e2127'
    red:     '#e06c75'
    green:   '#98c379'
    yellow:  '#d19a66'
    blue:    '#61afef'
    magenta: '#c678dd'
    cyan:    '#56b6c2'
    white:   '#828791'

  # Bright colors
  bright:
    black:   '#5c6370'
    red:     '#e06c75'
    green:   '#98c379'
    yellow:  '#d19a66'
    blue:    '#61afef'
    magenta: '#c678dd'
    cyan:    '#56b6c2'
    white:   '#e6efff'

cursor:
  style:
    shape: Block
    blinking: Off


live_config_reload: true
shell:
  program: /bin/zsh
  args:
    - --login

key_bindings:
  - { key: N, mods: Command, action: CreateNewWindow }
