live_config_reload = true

[colors.bright]
black = "#5c6370"
blue = "#61afef"
cyan = "#56b6c2"
green = "#98c379"
magenta = "#c678dd"
red = "#e06c75"
white = "#e6efff"
yellow = "#d19a66"

[colors.normal]
black = "#1e2127"
blue = "#61afef"
cyan = "#56b6c2"
green = "#98c379"
magenta = "#c678dd"
red = "#e06c75"
white = "#828791"
yellow = "#d19a66"

[colors.primary]
background = "#1e2127"
bright_foreground = "#e6efff"
foreground = "#abb2bf"

[cursor.style]
blinking = "Off"
shape = "Block"

[font]
size = {{ font_size }}

[font.normal]
family = {{ font }}

[[keyboard.bindings]]
action = "CreateNewWindow"
key = "N"
mods = "Command"

[shell]
args = ["--login"]
program = "/bin/zsh"

[window]
decorations = "full"
opacity = {{ opacity }}
option_as_alt = "Both"

[window.dimensions]
columns = 130
lines = 40

[window.padding]
x = 6
y = 6
